
.container {
    max-width: 800px;
}

nav {
    margin: 13px 0 0 0;
    padding: 0px;
}

nav ul li {
    display: inline;
    margin: 0 20px;
    font-size: 2.7rem;
}

.myname {
    font-weight: 500;
    font-size: 3.2rem;
}

.myname a:hover, .myname a:link, .myname a:visited, .myname a:active, .myname a{
    text-decoration: none;
    color: #333;
}

a {
    text-decoration: none;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

body {
    font-weight: 300;
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #333;

}

hr {
    margin-top: 2.5rem;
    margin-bottom: 3.5rem;
}

.header hr {
    margin-top: 0.0rem;
    margin-bottom: 3.5rem;
}

.footer hr {
    margin-top: 1.9rem;
    margin-bottom: 0.6rem;
}


h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 3.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 2.3rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }


.gallery-row img, .portrait img, .project-row img {
    border: 1px solid #ccc;
    padding: 2px;
    margin: 7px 0;
    border-radius: 8px;
    width: 100%;
    height: auto;
}

.article-img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
}

.footer {
    margin: auto;
    text-align: center;
}

.footer ul li {
    list-style: none;
    display: inline-block;
}


.codehilite .hll {
    background-color: #ffffcc
}
.codehilite .c {
    color: #008800;
    font-style: italic
}

.codehilite .err {
    border: 1px solid #FF0000
}
.codehilite .k {
    color: #AA22FF;
    font-weight: bold
}

.codehilite .o {
    color: #666666
}

.codehilite .cm {
    color: #008800;
    font-style: italic
}

.codehilite .cp {
    color: #008800
}

.codehilite .c1 {
    color: #008800;
    font-style: italic
}

.codehilite .cs {
    color: #008800;
    font-weight: bold
}

.codehilite .gd {
    color: #A00000
}

.codehilite .ge {
    font-style: italic
}

.codehilite .gr {
    color: #FF0000
}

.codehilite .gh {
    color: #000080;
    font-weight: bold
}

.codehilite .gi {
    color: #00A000
}

.codehilite .go {
    color: #808080
}

.codehilite .gp {
    color: #000080;
    font-weight: bold
}

.codehilite .gs {
    font-weight: bold
}

.codehilite .gu {
    color: #800080;
    font-weight: bold
}

.codehilite .gt {
    color: #0040D0
}

.codehilite .kc {
    color: #AA22FF;
    font-weight: bold
}

.codehilite .kd {
    color: #AA22FF;
    font-weight: bold
}

.codehilite .kn {
    color: #AA22FF;
    font-weight: bold
}

.codehilite .kp {
    color: #AA22FF
}

.codehilite .kr {
    color: #AA22FF;
    font-weight: bold
}

.codehilite .kt {
    color: #00BB00;
    font-weight: bold
}

.codehilite .m {
    color: #666666
}

.codehilite .s {
    color: #BB4444
}

.codehilite .na {
    color: #BB4444
}

.codehilite .nb {
    color: #AA22FF
}

.codehilite .nc {
    color: #0000FF
}

.codehilite .no {
    color: #880000
}

.codehilite .nd {
    color: #AA22FF
}

.codehilite .ni {
    color: #999999;
    font-weight: bold
}

.codehilite .ne {
    color: #D2413A;
    font-weight: bold
}

.codehilite .nf {
    color: #00A000
}

.codehilite .nl {
    color: #A0A000
}

.codehilite .nn {
    color: #0000FF;
    font-weight: bold
}

.codehilite .nt {
    color: #008000;
    font-weight: bold
}

.codehilite .nv {
    color: #B8860B
}


.codehilite .ow {
    color: #AA22FF;
    font-weight: bold
}


.codehilite .w {
    color: #bbbbbb
}


.codehilite .mf {
    color: #666666
}


.codehilite .mh {
    color: #666666
}


.codehilite .mi {
    color: #666666
}


.codehilite .mo {
    color: #666666
}


.codehilite .sb {
    color: #BB4444
}


.codehilite .sc {
    color: #BB4444
}


.codehilite .sd {
    color: #BB4444;
    font-style: italic
}


.codehilite .s2 {
    color: #BB4444
}


.codehilite .se {
    color: #BB6622;
    font-weight: bold
}


.codehilite .sh {
    color: #BB4444
}


.codehilite .si {
    color: #BB6688;
    font-weight: bold
}


.codehilite .sx {
    color: #008000
}


.codehilite .sr {
    color: #BB6688
}


.codehilite .s1 {
    color: #BB4444
}

.codehilite .ss {
    color: #B8860B
}


.codehilite .bp {
    color: #AA22FF
}


.codehilite .vc {
    color: #B8860B
}


.codehilite .vg {
    color: #B8860B
}


.codehilite .vi {
    color: #B8860B
}


.codehilite .il {
    color: #666666
}


pre > code {
    background: transparent;
    border: 1px solid #E1E1E1;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
th, td {
    text-align: left;
    border-bottom: 1px solid #aaa;
    padding: 7px;
}
canvas {
    display: block;
    margin: auto;
    padding-top: 8mm;
    padding-bottom: 0mm;
}

h2 a{
    text-decoration: none;
    color: #333;
}
